@use 'base/variables' as v;

.contenido-resumen{
    p{
        margin-bottom: 1rem;
    }
    span{
        color: v.$azul2;
        font-weight: v.$bold;
        font-size: 2.4rem;
    }
}

.contenedor-servicio{
    border-bottom: 1px solid v.$gris;
    padding: 3rem 1rem;  // 3rem arriba y abajo y 0 los costados
}