@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.table{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen{
        background-image: url(/public/build/img/2.avif);
        background-size: cover;
        background-position: center center;
    }
}