@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    
    margin-top: v.$separacion;
    padding: 5rem 0 0;
    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        color: v.$blanco;
        display: block; // va a forzar el salto de linea
        margin-bottom: calc(v.$separacion);
        text-align: center;
    }
}